body{
	background:palevioletred;
	font-family: 'Varela Round', sans-serif;

}
li{
	display:inline-block;
	border:dotted white 3px;
	font-family: 'Varela Round', sans-serif;
	padding:40px;
	letter-spacing:30px;
}
p{
	background:peachpuff;
	font-family: 'Varela Round', sans-serif;
}

div{
	margin: 0 auto;
	text-align: center;
}
.pictures{
	margin: 0 auto;
	text-align: center;
	display:inline-block;

}
.fifty img{
	width: 75%;
}
.center{
	margin: 0 auto;
	text-align: center;
}
.right{
	float: right;
}
.left{
	float:left;
}
.justify{
	text-align: center;
}
.bluetext{
	color:blue;
}